<%- include("templates/header") %> 

<img src="/mike.avif" style="width: 250px" /> <br />
404 Error. <br />
Hey, pal. Looks like you've found yourself in a bit of a situation here. The
page you're looking for? Yeah, it's not here. Not anymore, at least. These
things happen, you know, like a half measure gone wrong. Now, I've seen my fair
share of messes, but this one? It's not so bad. Just take a step back, gather
yourself, and give it another shot. You might even find what you're looking for.
In the meantime, do yourself a favor and click that little button down there.
It'll take you back to safety - a place where things make sense. And remember,
kid: No more half measures.
<form action="/redirectToHome" method="post">
    <button>Go Back Home</button>
</form>

<%- include("templates/footer") %> 