<%- include("templates/header") %>
    <div>
        <div class="col-1">
        <br/> <img src='/corecore.webp' style='width: 25vw;'>
        </div>
        <div class="col-1">
            <br/> <img src='/breaking-bad-walter-white.gif' style='width: 25vw;'>
        </div>
        <div class="col-1">
            <br/> <img src='/i-love-undertime-slopper-undertime.gif' style='width: 25vw;'>
        </div>
        <br/>
    </div>
<%- include("templates/footer") %>